Source: net-snmp-subagent-shell
Section: net
Priority: extra
Maintainer: Serge <abrikus@gmail.com>
Build-Depends: debhelper (>= 8.0.0), autotools-dev, automake
Standards-Version: 3.9.3
Homepage: https://github.com/sergevs/net-snmp-subagent-shell/

Package: subagent-shell
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends}, libsnmp-perl, libxml-simple-perl, snmp-mibs-downloader, snmpd
Description: Subagent Shell is the net-snmp agent. 
 Subagent Shell is the complete implementation of agent written in perl. It's provides a simple interface to extend functionality and allows to define a function or execute arbitrary command and provide the results via SNMP.
